<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Proyecto uno</title>
</head>
<body>
    <div id="app" >
        <h1 class="titulo">
          Mis Cursos de Platzi<span class="corazon">💚</span>
        </h1>
        <div class="container">

            <p class="container-input">
                <label for="input-titulo"> Titulo</label>
                <input class="input-titulo" type="text" placeholder="Titulo del curso" v-model="title"/>
            </p>
            <p class="container-input">
                <label for="input-hora">Horas</label>
                <input class="input-hora"  type="number" placeholder="Horas" v-model.number="time" />
            </p>
            <p>
                <button class="boton" @click="addCourse" v-if="time != 0 && title != ''">+</button>
            </p>
        </div>
        </fieldset>
        <div class="container-list">
          <h3 class="titulo-list">Lista de Cursos</h3>
          <p class="red" v-if="courses.length < 1">Aun no has realizado cursos</p>
          <div class="list" v-if="courses.length >= 1">
            <ol >
              <!-- Lista de cursos -->
              <li v-for="course in courses">
                  {{ course.title }} - {{ course.time }} {{course.time > 1 ? 'Horas' : 'Hora'}}
              </li>
            </ol>
          </div>
          <div class="total-time">
            <p>
              Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.
            </p>
          </div>
        </div>
      </div>
      

      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
      <script src="./app.js"></script>
</body>
</html>